
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

.thumbnail{
  &:hover{
    border-color: #3cb3ff;
    transition: all 2s;
  }
}
